.main-content {
    margin-top: 80px;
}

h4 {
    margin-top: 50px;
}

.comment {
    margin: 20px 0px 20px 20px;
}



body { background-image: url(images/background.gif);
      background-repeat: repeat;
}