{% extends "pluk/base.html" %}

{% block content %}

<!DOCTYPE html>



<html>
    <head>
        <title>Pluk</title>
    </head>

    <body>
        

        {% if registered %}
         <strong>Спасибо за регистрацию</strong>
        
         <a href="/pluk/login/">  Теперь можно войти</a><br />
        {% else %}
         <strong>Заполните форму регистрации</strong><br />

        <form id="user_form" method="post" action="/pluk/register/"
                enctype="multipart/form-data">

            {% csrf_token %}

            <!-- Выводим на экран каждую форму. Метод as_p помещает каждый элемент в абзац (тег <p>). Это гарантирует, что каждый элемент появится на новой строке, улучшая внешний вид формы. -->
            {{ user_form.as_p }}
            {{ profile_form.as_p }}

            <!-- Создаем кнопку для отправления данных формы. -->
            <input type="submit" name="submit" value="Регистрация" />
        </form>
        {% endif %}
    </body>
</html>
{% endblock %}
